/* STYLE SECTIONING TAGS */
body {
  font-family: "Quicksand", sans-serif;
  margin: 2em;
  text-align: center;
}

/* STYLE TEXT */
h1 {
  color: #e60a57;
}

h2 {
  margin-top: 2em; 
}

/* STYLE FLEX CONTAINER */
.question {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}
  
/* STYLE FLEX ITEM */
.answer-choice {
  margin: 5px;
}

/* STYLE IMAGES */
.answer-choice img {
  height: 10em;
}

/* STYLE BUTTON */
button { 
  margin-top: 5px;
  font-family: "Quicksand", sans-serif;
  background-color: #ff6b6b;
}